/* line 1, ../partials/_theme.scss */
#wrapper {
  padding-left: 0;
}

/* line 5, ../partials/_theme.scss */
#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #fff;
}

/* line 11, ../partials/_theme.scss */
.huge {
  font-size: 50px;
  line-height: normal;
}

@media (min-width: 768px) {
  /* line 17, ../partials/_theme.scss */
  #wrapper {
    padding-left: 225px;
  }

  /* line 21, ../partials/_theme.scss */
  #page-wrapper {
    padding: 10px;
  }
}
/* Top Navigation */
@media (min-width: 768px) {
  /* line 29, ../partials/_theme.scss */
  .navbar-header {
    float: left;
  }
}
/* line 34, ../partials/_theme.scss */
.top-nav {
  padding: 0 15px;
}

/* line 38, ../partials/_theme.scss */
.top-nav > li {
  display: inline-block;
  float: left;
}

/* line 43, ../partials/_theme.scss */
.top-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #999;
}

/* line 50, ../partials/_theme.scss */
.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
  color: #fff;
  background-color: #000;
}

/* line 59, ../partials/_theme.scss */
.top-nav > .open > .dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

/* line 71, ../partials/_theme.scss */
.top-nav > .open > .dropdown-menu > li > a {
  white-space: normal;
}

/* line 75, ../partials/_theme.scss */
ul.message-dropdown {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 82, ../partials/_theme.scss */
li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/* line 87, ../partials/_theme.scss */
li.message-preview > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 92, ../partials/_theme.scss */
li.message-footer {
  margin: 5px 0;
}

/* line 96, ../partials/_theme.scss */
ul.alert-dropdown {
  width: 200px;
}

/* Side Navigation */
@media (min-width: 768px) {
  /* line 103, ../partials/_theme.scss */
  .side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    height: 1000px;
    padding-bottom: 40px;
  }

  /* line 119, ../partials/_theme.scss */
  .side-nav > li > a {
    width: 225px;
  }

  /* line 123, ../partials/_theme.scss */
  .side-nav li a:hover,
  .side-nav li a:focus {
    outline: none;
    background-color: #000 !important;
  }
}
/* line 130, ../partials/_theme.scss */
.side-nav > li > ul {
  padding: 0;
}

/* line 134, ../partials/_theme.scss */
.side-nav > li > ul > li > a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #999;
}

/* line 141, ../partials/_theme.scss */
.side-nav > li > ul > li > a:hover {
  color: #fff;
}

/* Flot Chart Containers */
/* line 147, ../partials/_theme.scss */
.flot-chart {
  display: block;
  height: 400px;
}

/* line 152, ../partials/_theme.scss */
.flot-chart-content {
  width: 100%;
  height: 100%;
}

/* Custom Colored Panels */
/* line 159, ../partials/_theme.scss */
.huge {
  font-size: 40px;
}

/* line 163, ../partials/_theme.scss */
.panel-green {
  border-color: #5cb85c;
}

/* line 167, ../partials/_theme.scss */
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}

/* line 173, ../partials/_theme.scss */
.panel-green > a {
  color: #5cb85c;
}

/* line 177, ../partials/_theme.scss */
.panel-green > a:hover {
  color: #3d8b3d;
}

/* line 181, ../partials/_theme.scss */
.panel-red {
  border-color: #d9534f;
}

/* line 185, ../partials/_theme.scss */
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}

/* line 191, ../partials/_theme.scss */
.panel-red > a {
  color: #d9534f;
}

/* line 195, ../partials/_theme.scss */
.panel-red > a:hover {
  color: #b52b27;
}

/* line 199, ../partials/_theme.scss */
.panel-yellow {
  border-color: #f0ad4e;
}

/* line 203, ../partials/_theme.scss */
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}

/* line 209, ../partials/_theme.scss */
.panel-yellow > a {
  color: #f0ad4e;
}

/* line 213, ../partials/_theme.scss */
.panel-yellow > a:hover {
  color: #df8a13;
}

/* line 1, ../partials/_auth.scss */
#login-wrap {
  background: #76b852;
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8dc26f);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 14, ../partials/_auth.scss */
#login-wrap .login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
/* line 18, ../partials/_auth.scss */
#login-wrap .login-page .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/* line 27, ../partials/_auth.scss */
#login-wrap .login-page .form button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  color: #fff;
}
/* line 34, ../partials/_auth.scss */
#login-wrap .login-page .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
/* line 38, ../partials/_auth.scss */
#login-wrap .login-page .form .message a {
  color: #4CAF50;
  text-decoration: none;
}

/* line 5, ../main.scss */
body {
  margin-top: 50px;
  background-color: #222;
}
