/* Mixins ---------------------------------------- */
/* Variables ---------------------------------------- */
/*Font Colors*/
/*borders - color */
/*font families */
/*Font sizes*/
/*Font Weight*/
/*Sprites background image size*/
/* global ---------------------------------------- */
/* line 2, ../partials/_global.scss */
.ng-toast {
  margin-top: 0;
  z-index: 10;
}
/* line 5, ../partials/_global.scss */
.ng-toast.ng-toast--top {
  top: 27px !important;
  bottom: auto;
}
/* line 9, ../partials/_global.scss */
.ng-toast .ng-toast__list {
  top: 20px !important;
  bottom: auto;
}
/* line 15, ../partials/_global.scss */
.ng-toast .ng-toast__list .alert {
  color: #fff;
  text-align: center;
  opacity: 0.8;
  border: 0;
}
/* line 20, ../partials/_global.scss */
.ng-toast .ng-toast__list .alert.toast-warning {
  background: #a5252b ;
  background: rgba(165, 37, 43, 0.9) ;
}
/* line 23, ../partials/_global.scss */
.ng-toast .ng-toast__list .alert.toast-success {
  color: #fff;
}
/* line 27, ../partials/_global.scss */
.ng-toast .ng-toast__list .alert.toast-info {
  color: #006699;
}
/* line 29, ../partials/_global.scss */
.ng-toast .ng-toast__list .alert.toast-info a {
  color: #006699;
  text-decoration: underline;
}

/* line 1, ../partials/_loader.scss */
#site-loader {
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1080;
  padding-left: 0px;
  background: #000 ;
  background: rgba(0, 0, 0, 0.5) ;
}
@media (max-width: 1199px) {
  /* line 1, ../partials/_loader.scss */
  #site-loader {
    padding-left: 0;
  }
}
/* line 14, ../partials/_loader.scss */
#site-loader .spinner-loader {
  position: relative;
  left: 50%;
  top: 50%;
  margin: -0.5em 0 0 -0.5em;
}
/* line 20, ../partials/_loader.scss */
#site-loader.full {
  z-index: 99;
}
/* line 22, ../partials/_loader.scss */
#site-loader.full .spinner-loader {
  position: absolute;
}

@-moz-keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
/* line 39, ../partials/_spinner.scss */
.spinner-loader:not(:required) {
  -moz-animation: spinner-loader 1500ms infinite linear;
  -webkit-animation: spinner-loader 1500ms infinite linear;
  animation: spinner-loader 1500ms infinite linear;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: white 1.5em 0 0 0, white 1.1em 1.1em 0 0, white 0 1.5em 0 0, white -1.1em 1.1em 0 0, white -1.5em 0 0 0, white -1.1em -1.1em 0 0, white 0 -1.5em 0 0, white 1.1em -1.1em 0 0;
  -webkit-box-shadow: white 1.5em 0 0 0, white 1.1em 1.1em 0 0, white 0 1.5em 0 0, white -1.1em 1.1em 0 0, white -1.5em 0 0 0, white -1.1em -1.1em 0 0, white 0 -1.5em 0 0, white 1.1em -1.1em 0 0;
  box-shadow: white 1.5em 0 0 0, white 1.1em 1.1em 0 0, white 0 1.5em 0 0, white -1.1em 1.1em 0 0, white -1.5em 0 0 0, white -1.1em -1.1em 0 0, white 0 -1.5em 0 0, white 1.1em -1.1em 0 0;
  display: inline-block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin: 1.5em;
  overflow: hidden;
  text-indent: 100%;
}

/* line 1, ../partials/_theme.scss */
#wrapper {
  padding-left: 0;
}

/* line 5, ../partials/_theme.scss */
#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #fff;
}

/* line 11, ../partials/_theme.scss */
.huge {
  font-size: 50px;
  line-height: normal;
}

/* Fix line break when there's at least one item selected with the Selectize theme */
/* line 17, ../partials/_theme.scss */
.selectize-control.multi > .selectize-input > input {
  margin: 0 !important;
}

@media (min-width: 768px) {
  /* line 22, ../partials/_theme.scss */
  #wrapper {
    padding-left: 225px;
  }

  /* line 26, ../partials/_theme.scss */
  #page-wrapper {
    padding: 10px;
  }
}
/* Top Navigation */
@media (min-width: 768px) {
  /* line 34, ../partials/_theme.scss */
  .navbar-header {
    float: left;
  }
}
/* line 38, ../partials/_theme.scss */
.navbar-header > a > img {
  margin-top: -15px;
  margin-left: -15px;
  margin-right: 15px;
  height: 51px;
}

/* line 45, ../partials/_theme.scss */
.top-nav {
  padding: 0 15px;
}

/* line 49, ../partials/_theme.scss */
.top-nav > li {
  display: inline-block;
  float: left;
}

/* line 54, ../partials/_theme.scss */
.top-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #999;
}

/* line 61, ../partials/_theme.scss */
.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
  color: #fff;
  background-color: #000;
}

/* line 70, ../partials/_theme.scss */
.top-nav > .open > .dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

/* line 82, ../partials/_theme.scss */
.top-nav > .open > .dropdown-menu > li > a {
  white-space: normal;
}

/* line 86, ../partials/_theme.scss */
ul.message-dropdown {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 93, ../partials/_theme.scss */
li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/* line 98, ../partials/_theme.scss */
li.message-preview > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 103, ../partials/_theme.scss */
li.message-footer {
  margin: 5px 0;
}

/* line 107, ../partials/_theme.scss */
ul.alert-dropdown {
  width: 200px;
}

/* Side Navigation */
@media (min-width: 768px) {
  /* line 114, ../partials/_theme.scss */
  .side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #387ef5;
    bottom: 0;
    overflow-x: hidden;
    height: 100%;
    padding-bottom: 40px;
  }

  /* line 130, ../partials/_theme.scss */
  .side-nav > li > a {
    width: 225px;
  }

  /* line 134, ../partials/_theme.scss */
  .side-nav li a:hover,
  .side-nav li a:focus {
    outline: none;
    background-color: #224CF9 !important;
  }
}
/* line 141, ../partials/_theme.scss */
.side-nav > li > ul {
  padding: 0;
}

/* line 145, ../partials/_theme.scss */
.side-nav > li > a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #B9D2FC !important;
}

/* line 152, ../partials/_theme.scss */
.side-nav > li > a:hover {
  color: #fff !important;
}

/* Flot Chart Containers */
/* line 158, ../partials/_theme.scss */
.flot-chart {
  display: block;
  height: 400px;
}

/* line 163, ../partials/_theme.scss */
.flot-chart-content {
  width: 100%;
  height: 100%;
}

/* Custom Colored Panels */
/* line 170, ../partials/_theme.scss */
.huge {
  font-size: 40px;
}

/* line 174, ../partials/_theme.scss */
.panel-green {
  border-color: #5cb85c;
}

/* line 178, ../partials/_theme.scss */
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}

/* line 184, ../partials/_theme.scss */
.panel-green > a {
  color: #5cb85c;
}

/* line 188, ../partials/_theme.scss */
.panel-green > a:hover {
  color: #3d8b3d;
}

/* line 192, ../partials/_theme.scss */
.panel-red {
  border-color: #d9534f;
}

/* line 196, ../partials/_theme.scss */
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}

/* line 202, ../partials/_theme.scss */
.panel-red > a {
  color: #d9534f;
}

/* line 206, ../partials/_theme.scss */
.panel-red > a:hover {
  color: #b52b27;
}

/* line 210, ../partials/_theme.scss */
.panel-yellow {
  border-color: #f0ad4e;
}

/* line 214, ../partials/_theme.scss */
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}

/* line 220, ../partials/_theme.scss */
.panel-yellow > a {
  color: #f0ad4e;
}

/* line 224, ../partials/_theme.scss */
.panel-yellow > a:hover {
  color: #df8a13;
}

/* line 1, ../partials/_auth.scss */
#login-wrap {
  background: url("../../images/auth/auth-background-blurred.jpg") center center no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 16, ../partials/_auth.scss */
#login-wrap .login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
/* line 20, ../partials/_auth.scss */
#login-wrap .login-page .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/* line 29, ../partials/_auth.scss */
#login-wrap .login-page .form button {
  text-transform: uppercase;
  outline: 0;
  background: #387ef5;
  width: 100%;
  color: #fff;
}
/* line 36, ../partials/_auth.scss */
#login-wrap .login-page .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
/* line 40, ../partials/_auth.scss */
#login-wrap .login-page .form .message a {
  color: #4CAF50;
  text-decoration: none;
}

/* line 1, ../partials/_dashboard.scss */
.dashboard-box {
  margin: 10px;
}

/* line 18, ../main.scss */
body {
  margin-top: 50px;
  background-color: #222;
}
