/* Empty. Add your own CSS if you like */

a {
    cursor: pointer;
}

.item a {
    text-decoration: none;
    color: inherit;
}

.validation p {
    color: #fd7f7f;
}

.pull-right {
    float: right;
}

.row {
    margin: -10px;
    width: calc(100% + 20px);
}

.item-icon-left .icon, .item-icon-right .icon {
    font-size: 22px;
}

/********** app-sidebar **********/

.app-sidebar {
    background: #333;
}
.app-sidebar .item {
    background-color: transparent;
    border:none;
    border-bottom:1px solid #666;
    color: white;
}

.app-sidebar .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

/********** auth-wrapper **********/
.view-container {
    background-color: #000;
}

.auth-wrapper {
    background: url(../img/auth-background-blurred.jpg) left top no-repeat;
    background-size: cover;
}

.auth-wrapper .landing-buttons {
    margin: 0 auto;
    position: absolute;
    bottom: 15px;
    width: calc(100% - 100px);
    left: 0;
    right: 0;
}

/********* footer-action ********/
.footer-action {
    margin: -6px -5px -5px;
    width: calc(100% + 10px);
}
.footer-action .button{
    width: 100%;
    border-radius: 0;
    padding: 5px 0px;
}


/********** ride-route **********/

.ride-route {
     text-decoration: none;
}
.ride-route h3 {
     font-weight: bold;
     color: #aaa;
}
.ride-route h2 {
     padding: 0 0 0 20px;
     position: relative;
}
.ride-route h2 .amount {
    font-weight: bold;
    float: right;
}
.ride-route h2 i {
     margin-left: -20px;
     margin-right: 5px;
     color: #0c63ee;
}
.ride-route h2 i.ion-ios-location {
     margin-left: -19px;
}
.ride-route h2 div {
    margin-top: 3px;
     margin-bottom: 10px;
     color: #aaa;
}
.ride-route h2 .location-bar {
    position: absolute;
    left: 3px;
    top: 28px;
     color: #aaa;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.gmap-wrap {
    margin:0;
    height:calc(100% - 153px);
    margin-top: 44px;
    position: relative;

}
.gmap-wrap #map_canvas{
    height:100%;
    margin:0;
}
.gmap-wrap .center-marker{
    position:absolute;
    background:url(http://maps.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png) no-repeat;
    top:50%;left:53%;
    z-index:1;
    margin-left: -50px;/*-16px*/
    margin-top: -16px;
    height: 32px;
    width: 32px;
    cursor:pointer;
}
.gmap-wrap .map-location {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    padding: 5px 5px 2px;
    font-size: 16px;
}



.tableRow {
    margin: -4px !important;
    width: calc(100% + 20px);
}
.headerCell {
    background-color:lightgrey;
    font-weight: bold;
}

.singleHeaderCell {
    width:25%;
}

.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
}