<ion-view view-title="Driver Dashboard">
  <!--<ion-content>

  </ion-content>-->
  <div class="gmap-wrap">
    <div id="map_canvas"></div>
    <!--<div class="center-marker"></div>-->
    <a class="map-location" ng-click="vm.getCurrectLoction()">
      <i class="ion-android-radio-button-on positive"></i>
    </a>
  </div>
  <div ng-if="!vm.locationFactory.currentRide.data">
    <div class="row tableRow header">
      <div class="col headerCell">Supervisor</div>
      <div class="col">{{vm.currentDriver.Supervisor.User.FirstName + ' ' + vm.currentDriver.Supervisor.User.LastName}}</div>
      <div class="col headerCell">Mobile No.</div>
      <div class="col">{{vm.currentDriver.Supervisor.User.MobileNumber}}</div>
    </div>
    <div class="row tableRow">
      <div class="col headerCell">Driver</div>
      <div class="col">{{vm.currentDriver.User.FirstName + ' ' + vm.currentDriver.User.LastName}}</div>
      <div class="col headerCell">Status</div>
      <div class="col">{{vm.currentDriver.Status.Name}}</div>
    </div>
  </div>
  <div ng-if="vm.locationFactory.currentRide.data && vm.locationFactory.currentRide.data.RideStatusId === 1">
    <div class="row tableRow header">
      <div class="col headerCell">Customer</div>
      <div class="col">{{vm.locationFactory.currentRide.data.Customer.User.FirstName + ' ' + vm.locationFactory.currentRide.data.Customer.User.LastName}}</div>
      <div class="col headerCell">Mobile No.</div>
      <div class="col">{{vm.locationFactory.currentRide.data.Customer.User.MobileNumber}}</div>
    </div>
    <div class="row tableRow">
      <div class="col headerCell singleHeaderCell">Source</div>
      <div class="col">{{vm.locationFactory.currentRide.data.SourceAddress}}</div>
    </div>
  </div>
  <div ng-if="vm.locationFactory.currentRide.data && vm.locationFactory.currentRide.data.RideStatusId === 2">
    <div class="row tableRow header">
      <div class="col headerCell singleHeaderCell">Source</div>
      <div class="col">{{vm.locationFactory.currentRide.data.SourceAddress}}</div>
    </div>
    <div class="row tableRow">
      <div class="col headerCell singleHeaderCell">Destination</div>
      <div class="col">{{vm.locationFactory.currentRide.data.DestinationAddress}}</div>
    </div>
  </div>
</ion-view>
<ion-footer-bar class="bar" ng-if="!vm.locationFactory.currentRide.data">
  <div class="footer-action">
    <a class="button button-positive" ng-click="vm.toggleAvailable()">
      Mark {{vm.currentDriver? (vm.currentDriver.Status.Name === 'Available'? 'Unavailable' : 'Available'): 'Available'}}
    </a>
  </div>
</ion-footer-bar>
<ion-footer-bar class="bar" ng-if="vm.locationFactory.currentRide.data && vm.locationFactory.currentRide.data.RideStatusId === 1">
  <div class="footer-action">
    <a class="button button-positive" ng-click="vm.pickUpCustomer()">
      Pickup Customer
    </a>
  </div>
</ion-footer-bar>
<ion-footer-bar class="bar" ng-if="vm.locationFactory.currentRide.data && vm.locationFactory.currentRide.data.RideStatusId === 2">
  <div class="footer-action">
    <a class="button button-positive" ng-click="vm.dropCustomer()">
      Drop Customer
    </a>
  </div>
</ion-footer-bar>
<ion-footer-bar class="bar" ng-if="vm.locationFactory.currentRide.data && vm.locationFactory.currentRide.data.RideStatusId === 3">
  <div class="footer-action">
    <a class="button button-positive" ng-click="vm.dropCustomer()">
      End Ride
    </a>
  </div>
</ion-footer-bar>