<!-- Page Heading -->
<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header">
            <span ng-bind="vm.pageTitle"></span>
            <small>{{vm.data.RegistrationNumber}} View</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>
                <a ng-click="vm.redirect('shell.supervisor.dashboard')">Dashboard</a>
            </li>
            <li>
                <i class="fa fa-dashboard"></i>
                <a ng-click="vm.redirect('shell.supervisor.viewRides')">
                    <span ng-bind="vm.pageTitle"></span> Module
                </a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i>
                <span ng-bind="vm.data.Name"></span> View
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        <form role="form" name="form" novalidate ng-submit="form.$valid && vm.submit()">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td class="col-xs-2">
                                <label>Ride Date/Time</label>
                            </td>
                            <td class="col-xs-4">
                                <span>{{vm.data.CreatedDate | date: 'dd MMM-yyyy, HH:mm a'}}</span>
                            </td>
                            <td class="col-xs-2">
                                <label>Total Fare</label>
                            </td>
                            <td class="col-xs-4">
                                <span>{{vm.data.TotalFare.TotalFare | currency:'PKR '}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-2">
                                <label>Source Address</label>
                            </td>
                            <td class="col-xs-4">
                                <span>{{vm.data.Source.Address}}</span>
                            </td>
                            <td class="col-xs-2">
                                <label>Destination Address</label>
                            </td>
                            <td class="col-xs-4">
                                <span>{{vm.data.Destination.Address}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-2">
                                <label>Duration</label>
                            </td>
                            <td class="col-xs-4">
                                <span>{{vm.data.TimeTaken.TotalMinutes | number:2}} min</span>
                            </td>
                            <td class="col-xs-2">
                                <label>Distance</label>
                            </td>
                            <td class="col-xs-4">
                                <span>{{vm.data.RideDistance.TotalDistance/1000 | number:2}} km</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-2">
                                <label>Package</label>
                            </td>
                            <td class="col-xs-4">
                                <span>{{vm.data.Package.Name }}</span>
                            </td>
                            <td class="col-xs-2">
                                <label>StartFare</label>
                            </td>
                            <td class="col-xs-4">
                                <span>{{vm.data.Package.StartFare.TotalFare | currency:'PKR '}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-2">
                                <label>Customer Name</label>
                            </td>
                            <td class="col-xs-4">
                                <span>{{vm.data.Customer.User.FirstName + ' ' + vm.data.Customer.User.LastName}}</span>
                            </td>
                            <td class="col-xs-2">
                                <label>Customer Email</label>
                            </td>
                            <td class="col-xs-4">
                                <span>{{vm.data.Customer.User.Email}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-2">
                                <label>Driver Name</label>
                            </td>
                            <td class="col-xs-4">
                                <a ng-click="vm.redirect('shell.supervisor.driver.detail', {'id': vm.data.Driver.Id})">
                                    <span>{{vm.data.Driver.User.FirstName + ' ' + vm.data.Driver.User.LastName}}</span>
                                </a>
                            </td>
                            <td class="col-xs-2">
                                <label>Driver Email</label>
                            </td>
                            <td class="col-xs-4">
                                <a ng-click="vm.redirect('shell.supervisor.driver.detail', {'id': vm.data.Driver.Id})">
                                    <span>{{vm.data.Driver.User.Email}}</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-2">
                                <label>Vehicle No.</label>
                            </td>
                            <td class="col-xs-4">
                                <a ng-click="vm.redirect('shell.supervisor.genericCrud.genericCrudDetail', {'id': vm.data.Vehicle.Id, 'moduleName': 'Vehicle'})">
                                    <span>{{vm.data.Vehicle.RegistrationNumber}}</span>
                                </a>
                            </td>
                            <td class="col-xs-2">
                                <label>Vehicle Model</label>
                            </td>
                            <td class="col-xs-4">
                                <a ng-click="vm.redirect('shell.supervisor.genericCrud.genericCrudDetail', {'id': vm.data.Vehicle.Id, 'moduleName': 'Vehicle'})">
                                    <span>{{vm.data.Vehicle.VehicleModel.Name}}</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>