<!-- Page Heading -->
<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header">
            <span ng-bind="vm.pageTitle"></span>
            <small>Module</small>
        </h1>
        <ol class="breadcrumb col-xs-12">
            <li>
                <i class="fa fa-dashboard"></i>
                <a ng-click="vm.redirect('shell.supervisor.dashboard')">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i>
                <span ng-bind="vm.pageTitle"></span> List
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        <div ng-if="vm.data.length" class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Source Address</th>
                        <th>Destination Address</th>
                        <th>Driver</th>
                        <th>Package</th>
                        <th>Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in vm.data track by $index">
                        <td>
                            <span ng-bind="data.CreatedDate | date: vm.appFormats.DateTime"></span>
                        </td>
                        <td>
                            <span>{{data.SourceAddress}}</span>
                        </td>
                        <td>
                            <span ng-bind="data.DestinationAddress"></span>
                        </td>
                        <td>
                            <span ng-if="data.Driver" ng-bind="data.Driver.User.FirstName + ' ' + data.Driver.User.LastName"></span>
                            <span ng-if="!data.Driver">Driver Not Assign</span>
                        </td>
                        <td>
                            <span ng-if="data.Package" ng-bind="data.Package.Name"></span>
                            <span ng-if="!data.Package">Package Not Assign</span>
                        </td>
                        <td>
                            <span ng-bind="data.TotalFare.TotalFare | currency:'PKR '"></span>
                        </td>
                        <td>
                            <a ng-click="vm.redirect('shell.supervisor.assignPackage.edit', {'id': data.Id})">
                                View Details
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="!vm.data.length" class="text-center">
            Sorry no {{vm.module}} data found
        </div>
    </div>
</div>
