<ion-view view-title="Settings">
  <ion-content>
    <form name="changePassform" novalidate ng-submit="changePassform.$valid && vm.changePassword()">
      <div class="list padding">
        <label class="item item-input item-floating-label">
          <span class="input-label">Old password</span>
          <input type="password" name="oldPassword" id="oldPassword" placeholder="Password"
              ng-model="vm.user.OldPassword" required>
          <validations form-name="changePassform" field-name="oldPassword" label="Old password" ></validations>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">New password</span>
          <input type="password" name="newPassword" id="newPassword" placeholder="New password"
              ng-model="vm.user.NewPassword" required>
          <validations form-name="changePassform" field-name="newPassword" label="New password" ></validations>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Confirm password</span>
          <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Re-type password"
              ng-model="vm.user.ConfirmPassword" required>
          <validations form-name="changePassform" field-name="confirmPassword" label="Confirm password" ></validations>
        </label>
        <div class="item">
          <button type="submit" class="button button-block button-positive" >
            <strong>Reset Password</strong>
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>