<form name="loginForm" novalidate>
    <div class="login-fields">
        <div class="form-group">
            <input type="email"
                   name="email"
                   ng-model="vm.cred.userName"
                   class="form-control"
                   id="username"
                   placeholder="Username"
                   pattern="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*"
                   required>
            <validations form-name="loginForm" field-name="email" label="Username" ></validations>
        </div>
        <div class="form-group">
            <input type="password"
                   name="password"
                   ng-model="vm.cred.password"
                   class="form-control"
                   id="password"
                   placeholder="Password"
                   required
                   ng-minlength="8">
            <validations form-name="loginForm" field-name="password" label="Password" ></validations>
        </div>
        <button id="login-btn"
                type="submit"
                ng-click="vm.login(loginForm)"
                class="btn btn-orange rounded capitalize full-width">Log In
        </button>
        <a class="pull-left" ng-click="vm.openTermsAndCondition()">Terms & Conditions</a>
        <a class="pull-right " ui-sref="authShell.forget">Forgot Password?</a>
    </div>
</form>
