<form name="loginForm" novalidate ng-submit="loginForm.$valid && vm.login()">
    <div class="login-fields">
        <div class="form-group">
            <input type="email"
                   name="email"
                   ng-model="vm.user.Email"
                   class="form-control"
                   id="email"
                   placeholder="Email"
                   ng-pattern="vm.regex.email"
                   required>
            <validations form-name="loginForm" field-name="email" label="Email" ></validations>
        </div>
        <div class="form-group">
            <input type="password"
                   name="password"
                   ng-model="vm.user.Password"
                   class="form-control"
                   id="password"
                   placeholder="Password"
                   required>
            <validations form-name="loginForm" field-name="password" label="Password" ></validations>
        </div>
        <div class="form-group">
            <button type="submit" class="btn">Log In</button>
        </div>
        <a class="pull-right" ui-sref="authShell.forgetPassword">Forgot Password?</a>
        <a class="pull-left" ui-sref="authShell.register">Register</a>
    </div>
</form>
