<form name="resetForm" novalidate>
    <fieldset ng-disabled="vm.isExpire">
        <div class="login-fields">
            <h4 class="color-light-grey ">Set your password</h4>
            <div class="form-group">
                <p ng-if="vm.isExpire" class="validation">Your link has been expired</p>
                <p style="margin-bottom: 5px;" class="orange-text">Password must be greater than 7 characters and must contain at least one uppercase letter, one lowercase letter, one number and one special character</p>
                <input type="password"
                       name="newPass"
                       ng-pattern="/^(?=^.{8,32}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\s).*$/"
                       ng-model="vm.credential.Password"
                       class="form-control"
                       id="newPass"
                       placeholder="New password"
                       required
                       ng-minlength="8">
                <validations form-name="resetForm" field-name="newPass" label="Password" ></validations>
            </div>
            <div class="form-group">
                <input type="password"
                       name="confirmPass"
                       ng-model="vm.credential.ReTypePassword"
                       class="form-control"
                       id="confirm-pass"
                       ui-validate=" '$value===resetForm.newPass.$viewValue' "
                       ui-validate-watch=" 'vm.credential.Password' "
                       placeholder="Retype your password"
                       required ng-minlength="8">
                <validations form-name="resetForm" field-name="confirmPass" label="Confirm password" ></validations>
            </div>
            <button type="submit" ng-click="vm.changePass(resetForm)"  class="btn btn-orange rounded capitalize full-width" >Submit
            </button>
        </div>
    </fieldset>
</form>
