<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />

    <!-- Start RequestInfo context type alias -->
    <alias alias="IRequestInfo" type="CarReservation.Core.Infrastructure.Base.IRequestInfo, CarReservation.Core" />
    <alias alias="RequestInfo" type="CarReservation.Core.Infrastructure.RequestInfo, CarReservation.Core" />

    <alias alias="IRepositoryRequisites" type="CarReservation.Core.Infrastructure.Base.IRepositoryRequisites, CarReservation.Core" />
    <alias alias="RepositoryRequisites" type="CarReservation.Core.Infrastructure.RepositoryRequisites, CarReservation.Core" />
    <!-- End RequestInfo context type alias -->

    <!-- Start User-defined type alias for UnitOfWork -->
    <alias alias="IUnitOfWork" type="CarReservation.Core.IRepository.Base.IUnitOfWork, CarReservation.Core" />
    <alias alias="UnitOfWork" type="CarReservation.Repository.Base.UnitOfWork, CarReservation.Repository" />
    <!-- End User-defined type alias for UnitOfWork -->

    <!-- Start User-defined type aliases for Repositories -->
    <alias alias="IColorRepository" type="CarReservation.Core.IRepository.IColorRepository, CarReservation.Core" />
    <alias alias="ColorRepository" type="CarReservation.Repository.ColorRepository, CarReservation.Repository" />

    <alias alias="IRideStatusRepository" type="CarReservation.Core.IRepository.IRideStatusRepository, CarReservation.Core" />
    <alias alias="RideStatusRepository" type="CarReservation.Repository.RideStatusRepository, CarReservation.Repository" />
    <!-- End User-defined type aliases for Repositories -->

    <!-- Start User-defined type aliases for Services -->
    <alias alias="IColorService" type="CarReservation.Core.IService.IColorService, CarReservation.Core" />
    <alias alias="ColorService" type="CarReservation.Service.ColorService, CarReservation.Service" />

    <!--<alias alias="IColorService" type="CarReservation.Core.IService.IColorService, CarReservation.Core" />
    <alias alias="ColorService" type="CarReservation.Service.ColorService, CarReservation.Service" />-->
    <!-- End User-defined type aliases for Services -->

    <container>
      <extension type="Interception" />
      <register type="IRequestInfo" mapTo="RequestInfo" />
      <register type="IRepositoryRequisites" mapTo="RepositoryRequisites" />
      <register type="IUnitOfWork" mapTo="UnitOfWork" />

      <register type="IColorRepository" mapTo="ColorRepository" />
      <register type="IRideStatusRepository" mapTo="RideStatusRepository" />


      <register type="IColorService" mapTo="ColorService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="CarReservation.Core.Aspect.AuditLoggingAroundAdvice, CarReservation.Core" />
      </register>
      <!--<register type="IAuthService" mapTo="AuthService"/>
      <register type="IConfigurationService" mapTo="ConfigurationService"/>
      <register type="ICommonService" mapTo="CommonService" />-->
    </container>
  </unity>
</configuration>
