<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />

    <!-- Start RequestInfo context type alias -->
    <alias alias="AuditLoggingAroundAdvice" type="CarReservation.Core.Aspect.AuditLoggingAroundAdvice, CarReservation.Core" />
    
    <alias alias="IRequestInfo" type="CarReservation.Core.Infrastructure.Base.IRequestInfo, CarReservation.Core" />
    <alias alias="RequestInfo" type="CarReservation.Core.Infrastructure.RequestInfo, CarReservation.Core" />

    <alias alias="IRepositoryRequisites" type="CarReservation.Core.Infrastructure.Base.IRepositoryRequisites, CarReservation.Core" />
    <alias alias="RepositoryRequisites" type="CarReservation.Core.Infrastructure.RepositoryRequisites, CarReservation.Core" />
    <!-- End RequestInfo context type alias -->

    <!-- Start User-defined type alias for UnitOfWork -->
    <alias alias="IUnitOfWork" type="CarReservation.Core.IRepository.Base.IUnitOfWork, CarReservation.Core" />
    <alias alias="UnitOfWork" type="CarReservation.Repository.Base.UnitOfWork, CarReservation.Repository" />
    <!-- End User-defined type alias for UnitOfWork -->

    <!-- Start User-defined type aliases for Repositories -->
    <alias alias="IColorRepository" type="CarReservation.Core.IRepository.IColorRepository, CarReservation.Core" />
    <alias alias="ColorRepository" type="CarReservation.Repository.ColorRepository, CarReservation.Repository" />

    <alias alias="IRideStatusRepository" type="CarReservation.Core.IRepository.IRideStatusRepository, CarReservation.Core" />
    <alias alias="RideStatusRepository" type="CarReservation.Repository.RideStatusRepository, CarReservation.Repository" />

    <alias alias="ICountryRepository" type="CarReservation.Core.IRepository.ICountryRepository, CarReservation.Core" />
    <alias alias="CountryRepository" type="CarReservation.Repository.CountryRepository, CarReservation.Repository" />

    <alias alias="IStateRepository" type="CarReservation.Core.IRepository.IStateRepository, CarReservation.Core" />
    <alias alias="StateRepository" type="CarReservation.Repository.StateRepository, CarReservation.Repository" />

    <alias alias="ICityRepository" type="CarReservation.Core.IRepository.ICityRepository, CarReservation.Core" />
    <alias alias="CityRepository" type="CarReservation.Repository.CityRepository, CarReservation.Repository" />

    <alias alias="IVehicleAssemblyRepository" type="CarReservation.Core.IRepository.IVehicleAssemblyRepository, CarReservation.Core" />
    <alias alias="VehicleAssemblyRepository" type="CarReservation.Repository.VehicleAssemblyRepository, CarReservation.Repository" />

    <alias alias="IVehicleBodyTypeRepository" type="CarReservation.Core.IRepository.IVehicleBodyTypeRepository, CarReservation.Core" />
    <alias alias="VehicleBodyTypeRepository" type="CarReservation.Repository.VehicleBodyTypeRepository, CarReservation.Repository" />

    <alias alias="IVehicleFeatureRepository" type="CarReservation.Core.IRepository.IVehicleFeatureRepository, CarReservation.Core" />
    <alias alias="VehicleFeatureRepository" type="CarReservation.Repository.VehicleFeatureRepository, CarReservation.Repository" />

    <alias alias="IVehicleMakerRepository" type="CarReservation.Core.IRepository.IVehicleMakerRepository, CarReservation.Core" />
    <alias alias="VehicleMakerRepository" type="CarReservation.Repository.VehicleMakerRepository, CarReservation.Repository" />

    <alias alias="IVehicleModelRepository" type="CarReservation.Core.IRepository.IVehicleModelRepository, CarReservation.Core" />
    <alias alias="VehicleModelRepository" type="CarReservation.Repository.VehicleModelRepository, CarReservation.Repository" />

    <alias alias="IVehicleTransmissionRepository" type="CarReservation.Core.IRepository.IVehicleTransmissionRepository, CarReservation.Core" />
    <alias alias="VehicleTransmissionRepository" type="CarReservation.Repository.VehicleTransmissionRepository, CarReservation.Repository" />

    <alias alias="IVehicleVehicleFeatureRepository" type="CarReservation.Core.IRepository.IVehicleVehicleFeatureRepository, CarReservation.Core" />
    <alias alias="VehicleVehicleFeatureRepository" type="CarReservation.Repository.VehicleVehicleFeatureRepository, CarReservation.Repository" />

    <alias alias="IVehicleRepository" type="CarReservation.Core.IRepository.IVehicleRepository, CarReservation.Core" />
    <alias alias="VehicleRepository" type="CarReservation.Repository.VehicleRepository, CarReservation.Repository" />

    <alias alias="ITravelUnitRepository" type="CarReservation.Core.IRepository.ITravelUnitRepository, CarReservation.Core" />
    <alias alias="TravelUnitRepository" type="CarReservation.Repository.TravelUnitRepository, CarReservation.Repository" />

    <alias alias="IDistanceUnitRepository" type="CarReservation.Core.IRepository.IDistanceUnitRepository, CarReservation.Core" />
    <alias alias="DistanceUnitRepository" type="CarReservation.Repository.DistanceUnitRepository, CarReservation.Repository" />

    <alias alias="IDriverStatusRepository" type="CarReservation.Core.IRepository.IDriverStatusRepository, CarReservation.Core" />
    <alias alias="DriverStatusRepository" type="CarReservation.Repository.DriverStatusRepository, CarReservation.Repository" />

    <alias alias="ICreditCardRepository" type="CarReservation.Core.IRepository.ICreditCardRepository, CarReservation.Core" />
    <alias alias="CreditCardRepository" type="CarReservation.Repository.CreditCardRepository, CarReservation.Repository" />

    <alias alias="ICurrencyRepository" type="CarReservation.Core.IRepository.ICurrencyRepository, CarReservation.Core" />
    <alias alias="CurrencyRepository" type="CarReservation.Repository.CurrencyRepository, CarReservation.Repository" />

    <alias alias="ICurrencyLogRepository" type="CarReservation.Core.IRepository.ICurrencyLogRepository, CarReservation.Core" />
    <alias alias="CurrencyLogRepository" type="CarReservation.Repository.CurrencyLogRepository, CarReservation.Repository" />

    <alias alias="IAccountRepository" type="CarReservation.Core.IRepository.IAccountRepository, CarReservation.Core" />
    <alias alias="AccountRepository" type="CarReservation.Repository.AccountRepository, CarReservation.Repository" />

    <alias alias="IAccountLogRepository" type="CarReservation.Core.IRepository.IAccountLogRepository, CarReservation.Core" />
    <alias alias="AccountLogRepository" type="CarReservation.Repository.AccountLogRepository, CarReservation.Repository" />

    <alias alias="IFavouriteLocationRepository" type="CarReservation.Core.IRepository.IFavouriteLocationRepository, CarReservation.Core" />
    <alias alias="FavouriteLocationRepository" type="CarReservation.Repository.FavouriteLocationRepository, CarReservation.Repository" />

    <alias alias="ILocationLagLonRepository" type="CarReservation.Core.IRepository.ILocationLagLonRepository, CarReservation.Core" />
    <alias alias="LocationLagLonRepository" type="CarReservation.Repository.LocationLagLonRepository, CarReservation.Repository" />
    
    <alias alias="IPackageRepository" type="CarReservation.Core.IRepository.IPackageRepository, CarReservation.Core" />
    <alias alias="PackageRepository" type="CarReservation.Repository.PackageRepository, CarReservation.Repository" />
    
    <alias alias="IPackageTravelUnitRepository" type="CarReservation.Core.IRepository.IPackageTravelUnitRepository, CarReservation.Core" />
    <alias alias="PackageTravelUnitRepository" type="CarReservation.Repository.PackageTravelUnitRepository, CarReservation.Repository" />
    
    <alias alias="IPackageVehicleAssemblyRepository" type="CarReservation.Core.IRepository.IPackageVehicleAssemblyRepository, CarReservation.Core" />
    <alias alias="PackageVehicleAssemblyRepository" type="CarReservation.Repository.PackageVehicleAssemblyRepository, CarReservation.Repository" />
    
    <alias alias="IPackageVehicleBodyTypeRepository" type="CarReservation.Core.IRepository.IPackageVehicleBodyTypeRepository, CarReservation.Core" />
    <alias alias="PackageVehicleBodyTypeRepository" type="CarReservation.Repository.PackageVehicleBodyTypeRepository, CarReservation.Repository" />
    
    <alias alias="IPackageVehicleFeatureRepository" type="CarReservation.Core.IRepository.IPackageVehicleFeatureRepository, CarReservation.Core" />
    <alias alias="PackageVehicleFeatureRepository" type="CarReservation.Repository.PackageVehicleFeatureRepository, CarReservation.Repository" />
    
    <alias alias="IPackageVehicleModelRepository" type="CarReservation.Core.IRepository.IPackageVehicleModelRepository, CarReservation.Core" />
    <alias alias="PackageVehicleModelRepository" type="CarReservation.Repository.PackageVehicleModelRepository, CarReservation.Repository" />
    
    <alias alias="IPackageVehicleTransmissionRepository" type="CarReservation.Core.IRepository.IPackageVehicleTransmissionRepository, CarReservation.Core" />
    <alias alias="PackageVehicleTransmissionRepository" type="CarReservation.Repository.PackageVehicleTransmissionRepository, CarReservation.Repository" />

    <alias alias="IFareRepository" type="CarReservation.Core.IRepository.IFareRepository, CarReservation.Core" />
    <alias alias="FareRepository" type="CarReservation.Repository.FareRepository, CarReservation.Repository" />

    <alias alias="IDriverRepository" type="CarReservation.Core.IRepository.IDriverRepository, CarReservation.Core" />
    <alias alias="DriverRepository" type="CarReservation.Repository.DriverRepository, CarReservation.Repository" />

    <alias alias="ISupervisorRepository" type="CarReservation.Core.IRepository.ISupervisorRepository, CarReservation.Core" />
    <alias alias="SupervisorRepository" type="CarReservation.Repository.SupervisorRepository, CarReservation.Repository" />

    <alias alias="IDriverLocationRepository" type="CarReservation.Core.IRepository.IDriverLocationRepository, CarReservation.Core" />
    <alias alias="DriverLocationRepository" type="CarReservation.Repository.DriverLocationRepository, CarReservation.Repository" />

    <alias alias="IDriverLocationLogRepository" type="CarReservation.Core.IRepository.IDriverLocationLogRepository, CarReservation.Core" />
    <alias alias="DriverLocationLogRepository" type="CarReservation.Repository.DriverLocationLogRepository, CarReservation.Repository" />
    <!-- End User-defined type aliases for Repositories -->

    <!-- Start User-defined type aliases for Services -->
    <alias alias="ICommonService" type="CarReservation.Core.IService.ICommonService, CarReservation.Core" />
    <alias alias="CommonService" type="CarReservation.Service.CommonService, CarReservation.Service" />

    <alias alias="IColorService" type="CarReservation.Core.IService.IColorService, CarReservation.Core" />
    <alias alias="ColorService" type="CarReservation.Service.ColorService, CarReservation.Service" />

    <alias alias="IRideStatusService" type="CarReservation.Core.IService.IRideStatusService, CarReservation.Core" />
    <alias alias="RideStatusService" type="CarReservation.Service.RideStatusService, CarReservation.Service" />

    <alias alias="IUserService" type="CarReservation.Core.IService.IUserService, CarReservation.Core" />
    <alias alias="UserService" type="CarReservation.Service.UserService, CarReservation.Service" />

    <alias alias="ICountryService" type="CarReservation.Core.IService.ICountryService, CarReservation.Core" />
    <alias alias="CountryService" type="CarReservation.Service.CountryService, CarReservation.Service" />

    <alias alias="IStateService" type="CarReservation.Core.IService.IStateService, CarReservation.Core" />
    <alias alias="StateService" type="CarReservation.Service.StateService, CarReservation.Service" />

    <alias alias="ICityService" type="CarReservation.Core.IService.ICityService, CarReservation.Core" />
    <alias alias="CityService" type="CarReservation.Service.CityService, CarReservation.Service" />

    <alias alias="IVehicleAssemblyService" type="CarReservation.Core.IService.IVehicleAssemblyService, CarReservation.Core" />
    <alias alias="VehicleAssemblyService" type="CarReservation.Service.VehicleAssemblyService, CarReservation.Service" />

    <alias alias="IVehicleBodyTypeService" type="CarReservation.Core.IService.IVehicleBodyTypeService, CarReservation.Core" />
    <alias alias="VehicleBodyTypeService" type="CarReservation.Service.VehicleBodyTypeService, CarReservation.Service" />

    <alias alias="IVehicleFeatureService" type="CarReservation.Core.IService.IVehicleFeatureService, CarReservation.Core" />
    <alias alias="VehicleFeatureService" type="CarReservation.Service.VehicleFeatureService, CarReservation.Service" />

    <alias alias="IVehicleMakerService" type="CarReservation.Core.IService.IVehicleMakerService, CarReservation.Core" />
    <alias alias="VehicleMakerService" type="CarReservation.Service.VehicleMakerService, CarReservation.Service" />

    <alias alias="IVehicleModelService" type="CarReservation.Core.IService.IVehicleModelService, CarReservation.Core" />
    <alias alias="VehicleModelService" type="CarReservation.Service.VehicleModelService, CarReservation.Service" />

    <alias alias="IVehicleTransmissionService" type="CarReservation.Core.IService.IVehicleTransmissionService, CarReservation.Core" />
    <alias alias="VehicleTransmissionService" type="CarReservation.Service.VehicleTransmissionService, CarReservation.Service" />

    <alias alias="IVehicleService" type="CarReservation.Core.IService.IVehicleService, CarReservation.Core" />
    <alias alias="VehicleService" type="CarReservation.Service.VehicleService, CarReservation.Service" />

    <alias alias="ITravelUnitService" type="CarReservation.Core.IService.ITravelUnitService, CarReservation.Core" />
    <alias alias="TravelUnitService" type="CarReservation.Service.TravelUnitService, CarReservation.Service" />

    <alias alias="IDistanceUnitService" type="CarReservation.Core.IService.IDistanceUnitService, CarReservation.Core" />
    <alias alias="DistanceUnitService" type="CarReservation.Service.DistanceUnitService, CarReservation.Service" />

    <alias alias="IDriverStatusService" type="CarReservation.Core.IService.IDriverStatusService, CarReservation.Core" />
    <alias alias="DriverStatusService" type="CarReservation.Service.DriverStatusService, CarReservation.Service" />

    <alias alias="ICreditCardService" type="CarReservation.Core.IService.ICreditCardService, CarReservation.Core" />
    <alias alias="CreditCardService" type="CarReservation.Service.CreditCardService, CarReservation.Service" />

    <alias alias="ICurrencyService" type="CarReservation.Core.IService.ICurrencyService, CarReservation.Core" />
    <alias alias="CurrencyService" type="CarReservation.Service.CurrencyService, CarReservation.Service" />

    <alias alias="IAccountService" type="CarReservation.Core.IService.IAccountService, CarReservation.Core" />
    <alias alias="AccountService" type="CarReservation.Service.AccountService, CarReservation.Service" />

    <alias alias="IFavouriteLocationService" type="CarReservation.Core.IService.IFavouriteLocationService, CarReservation.Core" />
    <alias alias="FavouriteLocationService" type="CarReservation.Service.FavouriteLocationService, CarReservation.Service" />
    
    <alias alias="IPackageService" type="CarReservation.Core.IService.IPackageService, CarReservation.Core" />
    <alias alias="PackageService" type="CarReservation.Service.PackageService, CarReservation.Service" />

    <alias alias="IDriverService" type="CarReservation.Core.IService.IDriverService, CarReservation.Core" />
    <alias alias="DriverService" type="CarReservation.Service.DriverService, CarReservation.Service" />

    <alias alias="ISupervisorService" type="CarReservation.Core.IService.ISupervisorService, CarReservation.Core" />
    <alias alias="SupervisorService" type="CarReservation.Service.SupervisorService, CarReservation.Service" />

    <alias alias="IDriverLocationService" type="CarReservation.Core.IService.IDriverLocationService, CarReservation.Core" />
    <alias alias="DriverLocationService" type="CarReservation.Service.DriverLocationService, CarReservation.Service" />
    <!-- End User-defined type aliases for Services -->

    <container>
      <extension type="Interception" />
      <register type="IRequestInfo" mapTo="RequestInfo" >
        <lifetime type="singleton"/>
      </register>
      <register type="IRepositoryRequisites" mapTo="RepositoryRequisites" />
      <register type="IUnitOfWork" mapTo="UnitOfWork" />

      <register type="IColorRepository" mapTo="ColorRepository" />
      <register type="IRideStatusRepository" mapTo="RideStatusRepository" />

      <register type="ICountryRepository" mapTo="CountryRepository" />
      <register type="IStateRepository" mapTo="StateRepository" />
      <register type="ICityRepository" mapTo="CityRepository" />

      <register type="IFareRepository" mapTo="FareRepository" />
      <register type="IVehicleAssemblyRepository" mapTo="VehicleAssemblyRepository" />
      <register type="IVehicleBodyTypeRepository" mapTo="VehicleBodyTypeRepository" />
      <register type="IVehicleFeatureRepository" mapTo="VehicleFeatureRepository" />
      <register type="IVehicleMakerRepository" mapTo="VehicleMakerRepository" />
      <register type="IVehicleModelRepository" mapTo="VehicleModelRepository" />
      <register type="IVehicleTransmissionRepository" mapTo="VehicleTransmissionRepository" />
      <register type="IVehicleVehicleFeatureRepository" mapTo="VehicleVehicleFeatureRepository" />
      <register type="IVehicleRepository" mapTo="VehicleRepository" />

      <register type="ITravelUnitRepository" mapTo="TravelUnitRepository" />
      <register type="IDistanceUnitRepository" mapTo="DistanceUnitRepository" />
      <register type="IDriverStatusRepository" mapTo="DriverStatusRepository" />

      <register type="ICreditCardRepository" mapTo="CreditCardRepository" />
      <register type="ICurrencyRepository" mapTo="CurrencyRepository" />
      <register type="ICurrencyLogRepository" mapTo="CurrencyLogRepository" />

      <register type="IAccountRepository" mapTo="AccountRepository" />
      <register type="IAccountLogRepository" mapTo="AccountLogRepository" />

      <register type="IFavouriteLocationRepository" mapTo="FavouriteLocationRepository" />
      <register type="ILocationLagLonRepository" mapTo="LocationLagLonRepository" />
      
      <register type="IPackageRepository" mapTo="PackageRepository" />
      <register type="IPackageTravelUnitRepository" mapTo="PackageTravelUnitRepository" />
      <register type="IPackageVehicleAssemblyRepository" mapTo="PackageVehicleAssemblyRepository" />
      <register type="IPackageVehicleBodyTypeRepository" mapTo="PackageVehicleBodyTypeRepository" />
      <register type="IPackageVehicleFeatureRepository" mapTo="PackageVehicleFeatureRepository" />
      <register type="IPackageVehicleModelRepository" mapTo="PackageVehicleModelRepository" />
      <register type="IPackageVehicleTransmissionRepository" mapTo="PackageVehicleTransmissionRepository" />
      
      <register type="IDriverRepository" mapTo="DriverRepository" />
      <register type="ISupervisorRepository" mapTo="SupervisorRepository" />
      
      <register type="IDriverLocationRepository" mapTo="DriverLocationRepository" />
      <register type="IDriverLocationLogRepository" mapTo="DriverLocationLogRepository" />




      <register type="ICommonService" mapTo="CommonService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IColorService" mapTo="ColorService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      <register type="IRideStatusService" mapTo="RideStatusService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IUserService" mapTo="UserService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="ICountryService" mapTo="CountryService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      <register type="IStateService" mapTo="StateService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      <register type="ICityService" mapTo="CityService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IVehicleAssemblyService" mapTo="VehicleAssemblyService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      <register type="IVehicleBodyTypeService" mapTo="VehicleBodyTypeService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      <register type="IVehicleFeatureService" mapTo="VehicleFeatureService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      <register type="IVehicleMakerService" mapTo="VehicleMakerService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      <register type="IVehicleModelService" mapTo="VehicleModelService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      <register type="IVehicleTransmissionService" mapTo="VehicleTransmissionService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      <register type="IVehicleService" mapTo="VehicleService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="ITravelUnitService" mapTo="TravelUnitService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      <register type="IDistanceUnitService" mapTo="DistanceUnitService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      <register type="IDriverStatusService" mapTo="DriverStatusService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="ICreditCardService" mapTo="CreditCardService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      <register type="ICurrencyService" mapTo="CurrencyService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IAccountService" mapTo="AccountService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IFavouriteLocationService" mapTo="FavouriteLocationService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      
      <register type="IPackageService" mapTo="PackageService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IDriverService" mapTo="DriverService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="ISupervisorService" mapTo="SupervisorService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IDriverLocationService" mapTo="DriverLocationService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <!--<register type="IAuthService" mapTo="AuthService"/>
      <register type="IConfigurationService" mapTo="ConfigurationService"/>
      <register type="ICommonService" mapTo="CommonService" />-->
    </container>
  </unity>
</configuration>
