<ion-view view-title="My Rides">
  <ion-content>
    <ul class="list">
      <li class="item">
        <a ui-sref="shell.rideDetail({'id': 1})" class="ride-route">
          <h3>{{vm.ride.CreatedDate | date:'dd MMM-yyyy, HH:mm a'}}</h3>
          <h2>
            <i class="ion-android-radio-button-on"></i>
            UnSaved Location
            <div>{{vm.ride.SourceAddress}}</div>
            <i class="location-bar">..........</i>
          </h2>
          <h2>
            <i class="ion-ios-location"></i>
            UnSaved Location
            <div>{{vm.ride.DestinationAddress}}</div>
          </h2>
        </a>
      </li>
      <li class="item">
        <div class="row">
          <div class="col">
            <h3>Duration</h3>
            <h2>{{vm.ride.TimeTaken.TotalMinutes | number:2}} min</h2>
          </div>
          <div class="col">
            <h3>Package</h3>
            <h2>{{vm.ride.Package.Name}}</h2>
          </div>
        </div>
      </li>
      <li class="item">
        <h3>Fare</h3>
        <h2>{{vm.ride.TotalFare.TotalFare | currency:"PKR "}}</h2>
      </li>
      <li class="item">
        <h3>Payment</h3>
        <h2>Cash</h2>
      </li>
      <li class="item">
        <h3>Driver Name</h3>
        <h2>{{vm.ride.Driver.User.FirstName + ' ' + vm.ride.Driver.User.LastName}}</h2>
      </li>
      <li class="item">
        <div class="row">
          <div class="col">
            <h3>Car</h3>
            <h2>{{vm.ride.Vehicle.VehicleModel.Name}}</h2>
          </div>
          <div class="col">
            <h3>Vehicle No.</h3>
            <h2>{{vm.ride.Vehicle.RegistrationNumber}}</h2>
          </div>
        </div>
      </li>
      <li class="item">
        <h3>Rating</h3>
        <i ng-if="vm.ride.Rating >=1" ng-click="vm.ride.Rating = 0" class="ion-ios-star"></i>
        <i ng-if="vm.ride.Rating <1" ng-click="vm.ride.Rating = 1" class="ion-ios-star-outline"></i>

        <i ng-if="vm.ride.Rating >=2" ng-click="vm.ride.Rating = 1" class="ion-ios-star"></i>
        <i ng-if="vm.ride.Rating <2" ng-click="vm.ride.Rating = 2" class="ion-ios-star-outline"></i>

        <i ng-if="vm.ride.Rating >=3" ng-click="vm.ride.Rating = 2" class="ion-ios-star"></i>
        <i ng-if="vm.ride.Rating <3" ng-click="vm.ride.Rating = 3" class="ion-ios-star-outline"></i>

        <i ng-if="vm.ride.Rating >=4" ng-click="vm.ride.Rating = 3" class="ion-ios-star"></i>
        <i ng-if="vm.ride.Rating <4"  ng-click="vm.ride.Rating = 4" class="ion-ios-star-outline"></i>

        <i ng-if="vm.ride.Rating >=5" ng-click="vm.ride.Rating = 4" class="ion-ios-star"></i>
        <i ng-if="vm.ride.Rating <5" ng-click="vm.ride.Rating = 5" class="ion-ios-star-outline"></i>

        <button ng-click="vm.rateIt()">Rate It!!!</button>
      </li>
    </ul>
  </ion-content>
</ion-view>