/*Font Colors*/
$color-white: #fff;
$color-off-white: #f7f7f7;

$color-black: #000;
$color-silver-grey: #f3f3f3;
$color-lighter-grey: #e7e7e7;
$color-light-grey: #999;
$color-sonic-silver:#c4c4c4;
$color-grey: #9e9e9e;
$color-mid-grey: #666;
$color-dark-grey: #333;

$color-content: #8c8c8c;
$color-ligt-text: #cccccc;

$color-dark-orange: #cc6633;
$color-orange: #e7731f;
$color-light-orange: #f3b98b;

$color-gold: #eaa701;

$color-red: #ff0000;

$color-light-red: #f3dbd8;
$color-dark-red: #a5252b;

$color-green: #66cc33;
$color-dark-green: #669900;

$color-blue: #006699;
$color-light-blue: #b0c4de;
$color-lighter-blue: #EBF3FD;

$bg-silver-grey: #f8f8f8;

/*borders - color */
$color-border: #dedede;
$color-input-border:#cccccc;
$color-border-grey: #cdcdcd;
$color-border-light-grey: #dedede;

/*font families */
$font-primary: 'Roboto', sans-serif;
/*Font sizes*/
$primary-font-size: 14px;
$default-font-size: 16px;
$secondary-font-size: 18px;
$heading-font: 22px;
$sm-font-size: 24px;
$lg-font-size: 30px;
$xl-font-size: 36px;
$xs-font-size: 12px;

/*Font Weight*/
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-ultra-bold: 900;

/*Sprites background image size*/
$background-size-sprites: 1100px;
